<div class="row container mx-auto bg-light p-4 mt-5">
    <div class="col-sm-6" *ngFor="let news of listedNews">
        <div class="card mb-5 bg-light" style="height: 55rem;">
            <div class="col-auto mt-3">
                <img 
                    [src]="news.urlToImage || '../../../../../assets/img/no-image2.jpg'" 
                    class="card-img img-fluid" 
                    alt="news-image"
                >
            </div>
            <div class="card-body">
                <h5 class="card-header font-weight-bold">{{ news.title }}</h5>
                <p class="card-text mt-3"> 
                    {{
                        (news?.description?.length > 120)
                        ? news.description.substring(0, 120) + "..."
                        : news.description
                    }} 
                </p>
                <div class="d-flex flex-column">
                    <p class="card-text">
                        <small class="font-weight-normal blockquote-footer">
                        {{ news.author || 'Unknown Author' }}
                        </small>
                    </p>
                    <div class="d-flex">
                        <p class="text-white badge bg-primary my-0 mr-3"><small>{{ news.source.name}}</small></p>
                        <p class="card-text ff"><small class="text-muted">{{ news.publishedAt }}</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer mt-3">
                <a [href]="news.url" target="blank" class="btn btn-info btn-block">Learn more</a>
            </div>
        </div>
    </div>
</div>